* @micdes-pagopa @beetlecrunch @galales
commons/** @micdes-pagopa @beetlecrunch @galales @paolomanca-pagopa
microservices/** @micdes-pagopa @beetlecrunch @galales @paolomanca-pagopa
jobs/** @micdes-pagopa @beetlecrunch @galales @paolomanca-pagopa
