name: Deploy - Solo Chart

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run apply against'
        required: true
        type: string
        default: 'qa'
      timeout_seconds:
        description: 'Timeout in seconds'
        required: true
        type: number
        default: 120

defaults:
  run:
    shell: bash

jobs:
  chart_cache_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          repository: roberto-mondello-dgt/cache-helm-test


      - name: Calculate Chart.yaml hash
        id: check-chart
        run: |
          echo "chart_hash=${{ hashFiles('**/Chart.yaml') }}" >> "$GITHUB_OUTPUT"

      - name: Prepare Charts Directory
        run: mkdir -p charts

      - name: Restore Cache
        id: cache-restore
        uses: actions/cache@v3
        with:
          path: charts
          key: cache-${{ inputs.environment }}-chart-${{ steps.check-chart.outputs.chart_hash }}

      - name: Build and Cache Helm Chart
        if: steps.cache-restore.outputs.cache-hit != 'true'
        run: |
          echo "::info::Chart.yaml has changed or no cache found. Building Helm chart."
          mkdir -p real-chart
          cd real-chart

          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update

          CHART_NAME="nginx"
          CHART_VERSION="15.14.0"

          helm pull bitnami/$CHART_NAME --version $CHART_VERSION --untar
          helm package $CHART_NAME -d ../charts

          echo "::info::Helm chart packaged and stored in ./charts."

      - name: Save Cache
        if: steps.cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache@v3
        with:
          path: charts
          key: cache-${{ inputs.environment }}-chart-${{ steps.check-chart.outputs.chart_hash }}
